body {
    background-color: darkgrey;
    color: white;
}
#btnUpdate {
    display: none;
}
.btn.btn-primary {
    width: 100% !important;
    margin: 0 auto;
}
header {
    text-align: center;
    background-color: black;
}
footer {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .btn.btn-primary {
        width: 50% !important;
        margin: 0 auto !important;
    }
}
@media screen and (min-width: 1280px) {
    .btn.btn-primary {
        width: auto !important;
        max-width: 380px;
    }
}
    
